<!DOCTYPE html>
<html>
<%- include("./public/head.ejs")%>
<body>
<%- include("./public/header.ejs")%>
<section class="main floatfix">
	<%- include("./public/aside.ejs")%>
	<section class="main-articles friends">
		<h2>ZQY的友情链接网站</h2>
		<ul class="floatfix">
			<li><a href="https://portal.pku.edu.cn">北大门户</a></li>
			<li><a href="http://course.pku.edu.cn">教学网</a></li>
			<li><a href="https://its.pku.edu.cn">网关登录</a></li>
			<li><a href="https://mail.pku.edu.cn">北大邮箱</a></li>
			<li><a href="https://www.bilibili.com">哔哩哔哩</a></li>
		</ul>
	</section>
</section>
<%- include("./public/footer.ejs")%>
</body>
</html>